

ImageView:hover {
	-fx-opacity:0.7;
}

ImageView:pressed {
	-fx-opacity:0.5;
}

BorderPane:hover {
	-fx-background-color : #EBEBEB
}

BorderPane:pressed{
	-fx-background-color : #DEDEDE;
}

AnchorPane:hover {
	-fx-background-color : #EBEBEB
}

AnchorPane:pressed{
	-fx-background-color : #DEDEDE;
}

.check-box .box {
	-fx-background-color: transparent;
}

.check-box>.box>.mark {
  -fx-background-position: center;
  -fx-background-image: url("unmarked.png");  
  -fx-background-repeat: stretch;
  -fx-shape: none;
  -fx-padding: 8px;
}

.check-box:selected>.box>.mark{
  -fx-background-color: transparent;
  -fx-background-image: url("marked.png");
  -fx-padding: 8px;
}

.StackPane {
	-fx-background-color : transparent;
}



